#info {
    margin-top:60px;
    padding-left:40px;
}
#header {
    border-bottom: solid 2px dotted;
    font-family: Krungthep;
    color: grey;
    font-size: 3em;
    margin-bottom:30px;
}
.contact{
    color: grey;
    font-size: 1.5em;
    font-family: Lora;
}
